/* CSS for Notion Posts Start*/
.Notion .Tistory body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    color: #666;
}

.Notion .Tistory th, .Notion .Tistory td {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    color: #666;
}

.Notion .Tistory {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

.Notion .Tistory a,
.Notion .Tistory a.visited {
  color: inherit;
  text-decoration: underline;
}

.Notion .Tistory .pdf-relative-link-path {
  font-size: 80%;
  color: #444;
}

.Notion .Tistory h1,
.Notion .Tistory h2,
.Notion .Tistory h3 {
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}

.Notion .Tistory .page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75em;
}

.Notion .Tistory h1 {
  font-size: 1.875rem;
  margin-top: 1.875rem;
}

.Notion .Tistory h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.Notion .Tistory h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.Notion .Tistory .source {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1.5em;
  word-break: break-all;
}

.Notion .Tistory .callout {
  border-radius: 3px;
  padding: 1rem;
}

.Notion .Tistory figure {
  margin: 1em 0;
  page-break-inside: avoid;
}

.Notion .Tistory figcaption {
  opacity: 0.5;
  font-size: 85%;
  /* margin-top: 0.5em; */
}

.Notion .Tistory mark {
  background-color: transparent;
}

.Notion .Tistory .indented {
  padding-left: 1.5em;
}

.Notion .Tistory hr {
  background: transparent;
  display: block;
  width: 100%;
  height: 1px;
  visibility: visible;
  border: none;
  border-bottom: 1px solid rgba(55, 53, 47, 0.09);
  /* jmjeon */
  margin: 0em;
}

.Notion .Tistory img {
  max-width: 100%;
}

.Notion .Tistory .collection-content {
  font-size: 0.875rem;
}

.Notion .Tistory .column-list {
  display: flex;
  justify-content: space-between;
}

.Notion .Tistory .column {
  padding: 0 1em;
}

.Notion .Tistory .column:first-child {
  padding-left: 0;
}

.Notion .Tistory .column:last-child {
  padding-right: 0;
}

.Notion .Tistory .table_of_contents-item {
  display: block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 0.125rem;
}

.Notion .Tistory .table_of_contents-indent-1 {
  margin-left: 1.5rem;
}

.Notion .Tistory .table_of_contents-indent-2 {
  margin-left: 3rem;
}

.Notion .Tistory .table_of_contents-indent-3 {
  margin-left: 4.5rem;
}

.Notion .Tistory .table_of_contents-link {
  text-decoration: none;
  opacity: 0.7;
  border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

.Notion .Tistory table,
.Notion .Tistory th,
.Notion .Tistory td {
  border: 1px solid rgba(55, 53, 47, 0.09);
  border-collapse: collapse;
}

.Notion .Tistory table {
  border-left: none;
  border-right: none;
}

.Notion .Tistory th,
.Notion .Tistory td {
  font-weight: normal;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  min-height: 1.5em;
  text-align: left;
}

.Notion .Tistory th {
  color: rgba(55, 53, 47, 0.6);
}

.Notion .Tistory ol,
.Notion .Tistory ul {
  margin: 0;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

.Notion .Tistory li > ol:first-child,
.Notion .Tistory li > ul:first-child {
  margin-block-start: 0.6em;
}

.Notion .Tistory ul > li {
  list-style: disc;
}

.Notion .Tistory ul.to-do-list {
  text-indent: -1.7em;
}

.Notion .Tistory ul.to-do-list > li {
  list-style: none;
}

.Notion .Tistory .to-do-children-checked {
  text-decoration: line-through;
  opacity: 0.375;
}

.Notion .Tistory .toggle > li {
  list-style: none;
}

.Notion .Tistory ul {
  padding-inline-start: 1.7em;
}

.Notion .Tistory ul > li {
  padding-left: 0.1em;
}

.Notion .Tistory ol {
  padding-inline-start: 1.6em;
}

.Notion .Tistory ol > li {
  padding-left: 0.2em;
}

.Notion .Tistory .mono ol {
  padding-inline-start: 2em;
}

.Notion .Tistory .mono ol > li {
  text-indent: -0.4em;
}

.Notion .Tistory .toggle {
  padding-inline-start: 0em;
  list-style-type: none;
}

/* Indent toggle children */
.Notion .Tistory .toggle > li > details {
  padding-left: 1.7em;
}

.Notion .Tistory .toggle > li > details > summary {
  margin-left: -1.1em;
}

.Notion .Tistory .selected-value {
  display: inline-block;
  padding: 0 0.5em;
  background: rgba(206, 205, 202, 0.5);
  border-radius: 3px;
  margin-right: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  white-space: nowrap;
}

.Notion .Tistory .collection-title {
  display: inline-block;
  margin-right: 1em;
}

.Notion .Tistory time {
  opacity: 0.5;
}

.Notion .Tistory .icon {
  display: inline-block;
  max-width: 1.2em;
  max-height: 1.2em;
  text-decoration: none;
  vertical-align: text-bottom;
  margin-right: 0.5em;
}

.Notion .Tistory img.icon {
  border-radius: 3px;
}

.Notion .Tistory .user-icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.Notion .Tistory .user-icon-inner {
  font-size: 0.8em;
}

.Notion .Tistory .text-icon {
  border: 1px solid #000;
  text-align: center;
}

.Notion .Tistory .page-cover-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 30vh;
}

.Notion .Tistory .page-header-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Notion .Tistory .page-header-icon-with-cover {
  margin-top: -0.72em;
  margin-left: 0.07em;
}

.Notion .Tistory .page-header-icon img {
  border-radius: 3px;
}

.Notion .Tistory .link-to-page {
  margin: 1em 0;
  padding: 0;
  border: none;
  font-weight: 500;
}

.Notion .Tistory p > .user {
  opacity: 0.5;
}

.Notion .Tistory td > .user,
.Notion .Tistory td > time {
  white-space: nowrap;
}

.Notion .Tistory input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.6em;
  vertical-align: middle;
}

.Notion .Tistory p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: pre-line;
}

.Notion .Tistory .image {
  border: none;
  margin: 1.5em 0;
  padding: 0;
  border-radius: 0;
  text-align: center;
}
/*
.Notion .Tistory .code,
.Notion .Tistory code {
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}
*/

/* 단어 코드 블럭(cmd+e) 색 설정 hljs는 문단코드 블럭으로 제외*/
.Notion .Tistory code:not(.hljs) {
  color: #eb5757;
  font-size: 85%;
  padding: 2px 5px;
  border-radius: 3px;
  background: #efefef;
  margin: 0 2px;
  border: 1px solid #e0e0e0;
}

/*
.Notion .Tistory .code {
    padding: 1.5em 1em;
}

.Notion .Tistory .code>code {
    background: none;
    padding: 0;
    font-size: 100%;
    color: inherit;
}
*/

.Notion .Tistory blockquote {
  font-style: normal;
  font-size: 1.25em;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid rgb(55, 53, 47);
}

.Notion .Tistory .bookmark {
  text-decoration: none;
  max-height: 8em;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.Notion .Tistory .bookmark-title {
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.75em;
  white-space: nowrap;
}

.Notion .Tistory .bookmark-text {
  display: flex;
  flex-direction: column;
}

.Notion .Tistory .bookmark-info {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Notion .Tistory .bookmark-image {
  width: 33%;
  flex: 1 1 180px;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 1px;
}

.Notion .Tistory .bookmark-description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 0.75em;
  overflow: hidden;
  max-height: 4.5em;
  word-break: break-word;
}

.Notion .Tistory .bookmark-href {
  font-size: 0.75em;
  margin-top: 0.25em;
}

.Notion .Tistory .sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.Notion .Tistory .code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.Notion .Tistory .serif {
  font-family: Lyon-Text, Georgia, KaiTi, STKaiTi, "华文楷体", KaiTi_GB2312,
    "楷体_GB2312", serif;
}

.Notion .Tistory .mono {
  font-family: Nitti, "Microsoft YaHei", "微软雅黑", monospace;
}

.Notion .Tistory .pdf .sans {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol",
    "Twemoji", "Noto Color Emoji", "Noto Sans CJK SC", "Noto Sans CJK KR";
}

.Notion .Tistory .pdf .code {
  font-family: Source Code Pro, "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace, "Twemoji", "Noto Color Emoji",
    "Noto Sans Mono CJK SC", "Noto Sans Mono CJK KR";
}

.Notion .Tistory .pdf .serif {
  font-family: PT Serif, Lyon-Text, Georgia, KaiTi, STKaiTi, "华文楷体",
    KaiTi_GB2312, "楷体_GB2312", serif, "Twemoji", "Noto Color Emoji",
    "Noto Sans CJK SC", "Noto Sans CJK KR";
}

.Notion .Tistory .pdf .mono {
  font-family: PT Mono, Nitti, "Microsoft YaHei", "微软雅黑", monospace,
    "Twemoji", "Noto Color Emoji", "Noto Sans Mono CJK SC",
    "Noto Sans Mono CJK KR";
}

.Notion .Tistory .highlight-default {
}

.Notion .Tistory .highlight-gray {
  color: rgb(155, 154, 151);
}

.Notion .Tistory .highlight-brown {
  color: rgb(100, 71, 58);
}

.Notion .Tistory .highlight-orange {
  color: rgb(217, 115, 13);
}

.Notion .Tistory .highlight-yellow {
  color: rgb(223, 171, 1);
}

.Notion .Tistory .highlight-teal {
  color: rgb(15, 123, 108);
}

.Notion .Tistory .highlight-blue {
  color: rgb(11, 110, 153);
}

.Notion .Tistory .highlight-purple {
  color: rgb(105, 64, 165);
}

.Notion .Tistory .highlight-pink {
  color: rgb(173, 26, 114);
}

.Notion .Tistory .highlight-red {
  color: rgb(224, 62, 62);
}

.Notion .Tistory .highlight-gray_background {
  background: rgb(235, 236, 237);
}

.Notion .Tistory .highlight-brown_background {
  background: rgb(233, 229, 227);
}

.Notion .Tistory .highlight-orange_background {
  background: rgb(250, 235, 221);
}

.Notion .Tistory .highlight-yellow_background {
  background: rgb(251, 243, 219);
}

.Notion .Tistory .highlight-teal_background {
  background: rgb(221, 237, 234);
}

.Notion .Tistory .highlight-blue_background {
  background: rgb(221, 235, 241);
}

.Notion .Tistory .highlight-purple_background {
  background: rgb(234, 228, 242);
}

.Notion .Tistory .highlight-pink_background {
  background: rgb(244, 223, 235);
}

.Notion .Tistory .highlight-red_background {
  background: rgb(251, 228, 228);
}

.Notion .Tistory .block-color-default {
  color: inherit;
  fill: inherit;
}

.Notion .Tistory .block-color-gray {
  color: rgba(55, 53, 47, 0.6);
  fill: rgba(55, 53, 47, 0.6);
}

.Notion .Tistory .block-color-brown {
  color: rgb(100, 71, 58);
  fill: rgb(100, 71, 58);
}

.Notion .Tistory .block-color-orange {
  color: rgb(217, 115, 13);
  fill: rgb(217, 115, 13);
}

.Notion .Tistory .block-color-yellow {
  color: rgb(223, 171, 1);
  fill: rgb(223, 171, 1);
}

.Notion .Tistory .block-color-teal {
  color: rgb(15, 123, 108);
  fill: rgb(15, 123, 108);
}

.Notion .Tistory .block-color-blue {
  color: rgb(11, 110, 153);
  fill: rgb(11, 110, 153);
}

.Notion .Tistory .block-color-purple {
  color: rgb(105, 64, 165);
  fill: rgb(105, 64, 165);
}

.Notion .Tistory .block-color-pink {
  color: rgb(173, 26, 114);
  fill: rgb(173, 26, 114);
}

.Notion .Tistory .block-color-red {
  color: rgb(224, 62, 62);
  fill: rgb(224, 62, 62);
}

.Notion .Tistory .block-color-gray_background {
  background: rgb(235, 236, 237);
}

.Notion .Tistory .block-color-brown_background {
  background: rgb(233, 229, 227);
}

.Notion .Tistory .block-color-orange_background {
  background: rgb(250, 235, 221);
}

.Notion .Tistory .block-color-yellow_background {
  background: rgb(251, 243, 219);
}

.Notion .Tistory .block-color-teal_background {
  background: rgb(221, 237, 234);
}

.Notion .Tistory .block-color-blue_background {
  background: rgb(221, 235, 241);
}

.Notion .Tistory .block-color-purple_background {
  background: rgb(234, 228, 242);
}

.Notion .Tistory .block-color-pink_background {
  background: rgb(244, 223, 235);
}

.Notion .Tistory .block-color-red_background {
  background: rgb(251, 228, 228);
}
.Notion .Tistory .select-value-color-default {
  background-color: rgba(206, 205, 202, 0.5);
}
.Notion .Tistory .select-value-color-gray {
  background-color: rgba(155, 154, 151, 0.4);
}
.Notion .Tistory .select-value-color-brown {
  background-color: rgba(140, 46, 0, 0.2);
}
.Notion .Tistory .select-value-color-orange {
  background-color: rgba(245, 93, 0, 0.2);
}
.Notion .Tistory .select-value-color-yellow {
  background-color: rgba(233, 168, 0, 0.2);
}
.Notion .Tistory .select-value-color-green {
  background-color: rgba(0, 135, 107, 0.2);
}
.Notion .Tistory .select-value-color-blue {
  background-color: rgba(0, 120, 223, 0.2);
}
.Notion .Tistory .select-value-color-purple {
  background-color: rgba(103, 36, 222, 0.2);
}
.Notion .Tistory .select-value-color-pink {
  background-color: rgba(221, 0, 129, 0.2);
}
.Notion .Tistory .select-value-color-red {
  background-color: rgba(255, 0, 26, 0.2);
}

.Notion .Tistory .checkbox {
  display: inline-flex;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  background-size: 16px;
  margin-left: 2px;
  margin-right: 5px;
}

.Notion .Tistory .checkbox-on {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.Notion .Tistory .checkbox-off {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}

.Notion .Tistory .embed_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.Notion .Tistory .embed_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Notion .Tistory iframe {
  border: 0;
}

em {
  font-style: italic;
}

/* 테이블 css */
.Notion .Tistory .simple-table {
  margin-top: 1em;
  font-size: 0.875rem;
}

.Notion .Tistory .simple-table-header {
  background: rgb(247, 246, 243);
  color: black;
  font-weight: 500;
}


/* 리스트블록 앞 마진 제거 */
.Notion .Tistory .skin_view .area_view ul li {
margin-left: 0px;
margin-bottom: 0px;
}

.Notion .Tistory .skin_view .area_view ol li {
margin-left: 0px;
margin-bottom: 0px;
}

/* CSS for Notion Posts Done*/
